{{adjudication-statistics}}

<div class="ui basic modal">
  <div class="ui icon header">
    <i class="archive icon"></i>
    No Adjudication Results Yet...
  </div>
  <div class="actions">
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Okay
    </div>
  </div>
</div>
