<div class="ui modal">
  <div class="header"><i class="warning sign icon"></i>Confirm Record Deletion</div>
  <div class="content">
    <br/>
    <p>Deleting this record is a permanent action.
      <br/>Are you sure?</p>
    <br/>
    <div class="actions">
      <div class="red ui button" {{action "confirm"}}>Yes, delete record</div>
      <div class="ui button" {{action "cancel"}}>Cancel</div>
    </div>

  </div>
</div>