<div class="ui modal">
  <div class="ui icon header">
    <i class="user icon"></i>
    Student Added
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button" {{action "close"}}>
      Okay
      <i class="checkmark icon"></i>
    </div>
  </div>
        </div>
