<br>
<div class="ui tertiary grey segment">
  <div class="ui form">
    <div class="inline field">
      <label>Course Letter</label>
      {{input size="5" type="text" value = course.courseLetter}}
    </div>
    <div class="inline field">
      <label>Course Number</label>
      {{input size="5" type="text" value = course.courseNumber}}
    </div>
    <div class="inline field">
      <label>Course Name</label>
      {{input size="20" type="text" value = course.name}}
    </div>
    <div class="inline field">
      <label>Units</label>
      {{input size="5" type="number" value = course.unit}}

    </div>
  </div>
</div>
<br>