<div class="ui modal">
  <div class="header">{{title}} Description</div>
  <div class="content">
      <div class="ui form">
  <div class="inline field">
    {{description}}
  </div>
    </div>
<div class="actions">
        <br>
        <div class="ui negative basic button" {{action "close"}}>Close</div>
</div>

  </div>
  </div>

