<div class="ui modal">
  <div class="header">Update Award</div>
  <div class="content">
      <div class="ui form">
  <div class="inline field">
    <label>Note</label>
      {{textarea cols="6" rows="6" value = updateaward.note }}
  </div>         
    </div>
<div class="actions">
        <br>
        <div class="ui positive button" {{action 'saveAward'}}>Save</div>
        <div class="ui negative basic button" {{action "close"}}>Cancel</div>
</div>

  </div>
  </div>

