<br>
<h2>This is a prototype of the Western Engineering Adjudication System:</h2>
<h4>As of March 17, 2017, users are able to:</h4>
<ul>
  <li>Add, modify, and delete student records</li>
  <li>Add, modify, and delete scholarships, awards, and advanced standing for all students</li>
  <li>Manage the values for gender and residency</li>
  <li>Add, delete, and modify system codes</li>
  <li>Add, remove, and modify high schools, high school courses, subjects, and marks</li>
  <li>Import student records</li>
  <li>Adjudcate students based on configurable rules and codes</li>
  <li>Export student adjudications as PDF or Excel sheet</li>
</ul>
